# === Compiled files ===
*.o
*.out
*.exe
*.a
*.so
*.dll

# === Build folders ===
obj/
bin/
build/

# === Code::Blocks specific ===
*.depend
*.layout
*.cbp.save
*.cbp

# === IDE junk ===
*.user
*.suo
*.vcxproj.user
*.DS_Store
Thumbs.db

# === Misc ===
*.log
*.tmp

